configuration {
    modi: "run,drun,window";
    font: "Open Sans 11";
	disable-history: true;
    show-icons: true;
    hide-scrollbar: true;
    click-to-exit: true;
}
//@import "/usr/share/rofi/themes/android_notification.rasi"
@import "~/.config/rofi/themes/dark.rasi"
